.searchBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  flex-wrap: wrap; 
}

.formControl {
  width: 20%;
}

.textField {
  flex-grow: 1;
}

.button {
  flex-shrink: 0;
}

@media (max-width: 600px) {
  .formControl {
    width: 100%;  
    margin-bottom: 10px;
  }

  .textField {
    width: 100%;
    margin-right: 0;
  }

  .button {
    width: 100%;
    margin-top: 10px;
  }
}
